@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ahmedabad, Gujarat<br />
    <abbr title="Phone">P:</abbr>
    9426255495
</address>

<address>
    <strong>Technical Support:</strong>   <a href="mailto:tejas.patel4u@gmail.com">tejas.patel4u@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>